# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

default:
  twitter_consumer_key: 'xxxxxxx'
  twitter_consumer_secret: 'xxxxxxxx'
  twitter_access_token: 'xxxxxxxxxxxxxx'
  twitter_access_token_secret: 'xxxxxxxxxxx'

development:
  <<: *default
  secret_key_base: f9f7a32c7a271af468b76edf7a5799fedb0c73fa00b983373646fcc1dce638ad2420b7eedcb853544b1b4817fcc64de9ca64c5dd51248d7317ee221567651e19

test:
  <<: *default
  secret_key_base: 4f8282f4b2e01ff1ec889d15bb99cb44c06718ece065ab4329822f9de101371521541bd27c614777f5bc0b21df158b44a4127f2e225a8b2a98bf23d51c984522

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  twitter_consumer_key: <%= ENV["TWITTER_CONSUMER_KEY"] %>
  twitter_consumer_secret: <%= ENV["TWITTER_CONSUMER_SECRET"] %>
  twitter_access_token: <%= ENV["TWITTER_ACCESS_TOKEN"] %>
  twitter_access_token_secret: <%= ENV["TWITTER_ACCESS_TOKEN_SECRET"] %>
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>

